
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>

    <link href="~/Content/css/stylechitietsanpham.css" rel="stylesheet" />
</head>

<body>
    <div class="mtop-5">
        <div class="">
            <ul class="breadcrumb">
                <li>Menu</li>
                <li>Loại sản phẩm</li>
                <li style="color: #777">tên sản phẩm</li>
            </ul>
        </div>
    </div>
   
    <div class="row">
        <div class="col-6">
            <div id="productCarousel" class="carousel">
                <div class="carousel-inner">
                    <img class="w-100" src="~/Content/img/duongdensuada.jpg" />
                </div>
               
            </div>
           
        </div>
        <div class="col-6">
            <div class="inf_procduct">
                <p class="inf_procduct_title">Đường đen sữa đá</p>
                <p class="inf_procduct_price">45.000</p>
            </div>
            <div class="desc_product">
                <p class="desc_product_title">Mô tả sản phẩm</p>
                <p class="desc_product_content">
                    Nếu chuộng vị cà phê đậm đà, bùng nổ và thích vị đường đen ngọt thơm, Đường Đen Sữa Đá đích thị là thức uống dành cho bạn. Không chỉ giúp bạn tỉnh táo buổi sáng, Đường Đen Sữa Đá còn hấp dẫn đến ngụm cuối cùng bởi thạch cà phê giòn dai, nhai cực cuốn. - Khuấy đều trước khi sử dụng
                </p>
            </div>
            <div class="product_to_cart">
                <a class="btn">
                    <span class="product_to_cart_title">Đặt hàng</span>
                </a>
            </div>

        </div>
    </div>
</body>
</html>
