
<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">
                <h4>Danh mục</h4>
            </li>
            <li class="nav-header">STORE-MANAGE</li>
            <li class="nav-item">
                <a href="/admin/sliders/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-list"></i>
                    <p>
                        Nội dung
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/loaisps/index" class="nav-link">
                    <i class="nav-icon fas fa-columns"></i>
                    <p>
                        Loại sản phẩm
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/sanphams/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-mug-hot"></i>
                    <p>
                        Sản phẩm
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/khohangs/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-box"></i>
                    <p>
                        Kho hàng
                    </p>
                </a>
            </li>
            @* <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa-solid fa-mug-hot"></i>
                <p>
                    Sản phẩm
                </p>
            </a>
        </li>*@
            <li class="nav-item">
                <a href="/admin/chitietdonhangs/index" class="nav-link">
                    <i class="nav-icon  fa-solid fa-money-bill-wave"></i>
                    <p>
                        Đơn hàng
                    </p>
                </a>
            </li>
            </li>
            <li class="nav-header">ADMIN-MANAGE</li>
            <li class="nav-item">
                <a href="/admin/nguyenlieux/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-cannabis"></i>
                    <p>
                        Nguyên liệu
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/congthucs/index" class="nav-link">
                    <i class="nav-icon fa-regular fa-clipboard"></i>
                    <p>
                        Công thức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/cuahangs/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-store"></i>
                    <p>
                        Cửa hàng
                    </p>
                </a>
            </li>
            @* <li class="nav-item">
            <a href="../kanban.html" class="nav-link">
                <i class="nav-icon  fa-solid fa-money-bill-wave"></i>
                <p>
                    Hóa đơn
                </p>
            </a>
        </li>*@
            <li class="nav-item">
                <a href="/admin/vouchers/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-gift"></i>
                    <p>
                        Mã giảm giá
                    </p>
                </a>
            </li>

            @*<li class="nav-item">
                <a href="../kanban.html" class="nav-link">
                    <i class="nav-icon fa-solid fa-chart-simple"></i>
                    <p>
                        Doanh thu
                    </p>
                </a>
            </li>*@
            <li class="nav-item">
                <a href="/admin/account/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-user"></i>
                    <p>
                        Quản lý tài khoản
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/role/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-users"></i>
                    <p>
                        Quản lý quyền
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/comment/index" class="nav-link">
                    <i class="nav-icon fa-solid fa-comment"></i>
                    <p>
                        Quản lý đánh giá
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-search"></i>
                    <p>
                        Search
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../search/simple.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Simple Search</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../search/enhanced.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Enhanced</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-header">MISCELLANEOUS</li>
            <li class="nav-item">
                <a href="../../iframe.html" class="nav-link">
                    <i class="nav-icon fas fa-ellipsis-h"></i>
                    <p>Tabbed IFrame Plugin</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://adminlte.io/docs/3.1/" class="nav-link">
                    <i class="nav-icon fas fa-file"></i>
                    <p>Documentation</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    <i class="nav-icon fa-solid fa-right-to-bracket"></i>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display: none">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()
        }
    </div>
}